apiVersion: apps/v1
kind: Deployment
metadata:
  # Unique key of the Deployment instance
  name: demo-app
spec:
  # 3 Pods should exist at all times.
  replicas: 3
  selector:
    matchLabels:
      app: mongoapp
  template:
    metadata:
      labels:
        # Apply this label to pods and default
        # the Deployment label selector to this value
        app: mongoapp
    spec:
      containers:
      - name: mongoapp
        # Run this image
        image: evil08/webapp:mongo
