apiVersion: apps/v1
kind: Deployment
metadata:
  # Unique key of the Deployment instance
  name: demo-app
spec:
  # 3 Pods should exist at all times.
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        # Apply this label to pods and default
        # the Deployment label selector to this value
        app: webapp
    spec:
      containers:
      - name: mongo
        # Run this image
        image: evil08/webpage:v.01
